<!-- TITOLO -->
<div class="page-title">
  <h2 class="center">
      <i class="icon-envelope"></i>&nbsp; Messaggi ricevuti
  </h2>
</div>
<div class="row-fluid center">
<p><button class="btn btn-large btn-primary" href="#new-message-modal" data-toggle="modal"><i class="icon-plus"></i>&nbsp;Nuovo Messaggio</p>
</div>
<div class="row-fluid"> 

  <div class="span9">  
<!-- TITOLO -->
<% if @messages.count == 0 %>
  <div class="alert alert-danger" style="margin-top: 20px">
    <h3 class="center" >Non è presente alcun messaggio!</h3>
  </div>
<% end %> 
<div class="row-fluid">
  <% @messages.each do |m| %>
  <div id=<%= m.id %> class="row-fluid row-message">
    <h5><%= gravatar_for(User.find(m.from), "avatar") %>&nbsp;&nbsp;
    <%= User.find(m.from).username.capitalize %>
    <br /></h5>
    <h3><small>Text :</small>
    <%= m.body %></h3>
    <% if !m.read %>
    <p class="read" id="label-<%= m.id %>">
    <!--<%= link_to 'Letto', action: :set_read, :message_id => m.id, :remote => true %>-->
    </p>
    <% end %>
    
    <h4><small>Ricevuto il : <%= m.created_at.to_s[0..9] %> alle : <%= m.created_at.to_s[11..15] %>
      </small>
      <%= link_to '<p style="color:red"><i class="icon icon-remove"></i> Cancella</p>'.html_safe, {action: :destroy, :message_id => m.id}, confirm: "Sei sicuro di voler eliminare il messaggio?\npremi OK per eliminarlo", :remote => true %>

    </h4>
  </div>
  <% end %>
</div> 
 

  

</div> <!-- chiude span -->
<div class="span3 center" >
  <div class="row-fluid">

    <div class="center" style="margin-bottom: 20px">
      <div class="h-icon">
        <h2>Bacheca</h2>
        <%= link_to ({ controller: :users, action: :wall}) do %>
        <%= image_tag ("illustrations/book.png"), :class => "home-icon" %>
        </div>
        <% end %>
      </div>
    </div>

  <div class="row-fluid">
    <div class="center" style="margin-bottom: 20px">
    <div class="h-icon">
    <h2>Amici</h2>
    <%= link_to :controller => :users, :action => :friends do %>
    <%= image_tag ("illustrations/colors.png"), :class => "home-icon" %>
    </div>
    <% end %>
    </div>
  </div>
</div> <!-- chiude span2 -->
</div> 


<%= render "new_message" %>
