<div class="well">
  <div class="center">
    <h2>List of all Programs</h2>
  </div>

  <% if @programs.count == 0 %>
    <div class="alert alert-error">
      <h2><strong><center>There isn't any active Program right now</center></strong></h2>
    </div>

  <% else %>

  <ul type="none" class="programs">
    <% @programs.each do |program| %>
    <li>
      <div class="well" style="background-color:white">
	<div class="title">
	  <h4><%= program.title %></h4>
	</div>
	<p><%= program.description %></p>
	<h5>Lessons of <%= program.title %> :</h5>
	<ul>
	  <% program.lessons.each do |l| %>
	  <li>
	    <%=link_to l.title, controller: :lessons, action: :index, :id => l.id %>
      <%=link_to '<label class="label">Remove</label>'.html_safe, controller: :lessons, action: :destroy, :lesson_id => l.id %> 
	  </li>
	  <% end %>
	</ul>
    <button href="#removeModal" class="btn btn-default" data-toggle="modal" data-id="<%program.id%>"></i class="   icon-plus icon-white"></i>Remove Prog</button>
	  <%= link_to '<button class="btn btn-primary btn-default"></i class="   icon-plus icon-white"></i>Add Lesson</button>'.html_safe, controller: :lessons, action: :new, :prog_id => program.id %>
      </div>
    </li>
    <% end %>
  </ul>
  <% end %>

  <div class="center">
    <%= link_to '<button class="btn btn-default">Add exercise</button>'.html_safe, controller: :exercises, action: :new %>
    <button href="#myModal" class="btn btn-primary btn-default" data-toggle="modal"></i class="icon-plus icon-white"></i>Add Program</button>
  </div>
</div>

<%= render "modal" %>