

<div class="page-title">
    <h2 class="center">
        <i class="icon-pushpin"></i>&nbsp;Bacheca <%= @program.title.capitalize %>
    </h2>
  </div>

<div class="center">
  <% @program.feedbacks.each do |feed| %>
  <div class="message-row">
    
    <%= gravatar_for(User.find(feed.user.id), "avatar") %>
      <div style="clear:left"></div>
      <h4 class="center"><%= feed.user.username.capitalize %></h4>
    <p><strong>Commento:</strong> <%= feed.body %></p>
    <p><strong>Rating:</strong> <%= feed.rating %></p>
  </div>
  <% end %>
  
</div>

<div class="center" style="margin-top:25px;"><%= link_to '<button class="btn btn-large btn-danger"><i class="icon-reply"></i>&nbsp;&nbsp;Indietro</button>'.html_safe, controller: :programs, action: :show, :prog_id => @program.id %></div>