<div class="page-title">
    <h2 class="center">
        <i class="icon-pushpin"></i>&nbsp;Bacheca <%= @program.title.capitalize %>
    </h2>
  </div>

<div class="center">
  <% @program.feedbacks.each do |feed| %>
  <div class="well">
    Utente : <%= feed.user.username.capitalize %><br />
    Testo : <%= feed.body %><br />
    Rating al programma : <%= feed.rating %>
  </div>
  <% end %>
  
</div>

<div class="center" style="margin-top:25px;"><%= link_to '<button class="btn btn-large btn-danger"><i class="icon-reply"></i>&nbsp;&nbsp;Indietro</button>'.html_safe, controller: :programs, action: :show, :prog_id => @program.id %></div>