  <h2 class="center page-title">
    <i class="icon-bar-chart"></i>
    Progressi di: <%= @program.title %>
  </h2>

  <div class="container center">
    
    <div class="row-fluid center">
      <% @program.lessons.each do |l|%>

      <% if get_progress_of_lesson(l.id).to_i != 0 %>
      <div class="span3">
        <div class="medal">
          <p><%= l.title %></p>
          <h2 style="margin:0px;position:relative;top:180px"><%= get_progress_of_lesson(l.id).to_i %>%</h2>
          <%= image_tag('medal/Medal.jpeg',:size => "250x100") %>
          <div class="meter nostripes" style="width:75%; border: 2px solid #BDC3C7;margin:auto">
            <span  style="width:<%= get_progress_of_lesson(l.id) %>%"></span>
          </div>
        </div>
      </div>
      <% else %>
      <div class="span3">
        <div class="medal" >
          <p><%= l.title %></p>
          <h2 style="margin:0px;position:relative;top:180px"><%= get_progress_of_lesson(l.id).to_i %>%</h2>
          <%= image_tag('medal/MedalNone.png',:size => "250x100") %>
        </div>
      </div>
      <% end %>
      <% end %>
      
      


      <div class="span3">
       <div class="medal cup center">
        <% if get_progress_of_program(@program.id) != 0 %>
        <h4 style="margin:0px;position:relative;top:100px">
          <%= @program.title.split(" -").first %></h4>
          <h2 style="margin:0px;position:relative;top:120px"><%= get_progress_of_program(@program.id).to_i %>%</h2>
          <%= image_tag('medal/cup3.png',:size => "300x100") %>
          <% else %>
          <h4 style="margin:0px;position:relative;top:100px;color:#fff">
            <%= @program.title.split(" -").first %></h4>
            <h2 style="margin:0px;position:relative;top:120px;color:#fff"><%= get_progress_of_program(@program.id).to_i %>%</h2>
            <%= image_tag('medal/cup3none.png',:size => "300x100") %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>


<!--

<% @program.lessons.each do |l| %>
  <div class="row-fluid">
    <div class="span2" style="text-align: right;margin-top:10px"><strong><%= l.title %></strong></div>
    <div class="span8">
      <div class="meter nostripes" style="margin-top:0px;width:100%; border: 2px solid #BDC3C7">
        <span style="width: <%= get_progress_of_lesson(l.id) %>%"></span>
      </div>
    </div>
    <div class="span2"></div>
  </div>

  <% end %>
  
<div class="row-fluid">
    <h3 class="center page-title">Progressi totali
    </h3>
    <div class="span10 offset1">
      <div class="meter red" style="margin-top:0px;width:100%; border: 2px solid #BDC3C7" >
        <span style="width:<%= get_progress_of_program(@program.id) %>%"></span>
      </div>
    </div>
  </div>
  
 -->
  
  <div class="center" style="margin-top:25px"><%= link_to '<button class="btn btn-large btn-danger"><i class="icon-reply"></i>&nbsp;&nbsp;Indietro</button>'.html_safe, controller: :programs, action: :show, :prog_id => @program.id %></div>
