<div class="container center">

	    <div class="row-fluid menu-el">
	    <% progress = get_progress_of_program(@program.id) %>
	    <% if progress == 0%>
	      <%= link_to ({ controller: :programs, action: :start, :prog_id => @program.id }) do %>
	      <div class="span6 center span-sx black">
		<h2><i class="icon-list red"></i>&nbsp;INIZIA</h2>
	      </div>  
	      <% end %>
	    <% elsif progress>0 && progress<100%>
	    	<%= link_to ({ controller: :programs, action: :resume, :prog_id => @program.id }) do %>
	      	<div class="span6 center span-sx black">
				<h2><i class="icon-list red"></i>&nbsp;CONTINUA</h2>
	      	</div>  
	      	<% end %>
	    <%else %>
	    	<%= link_to ({ controller: :programs, action: :start, :prog_id => @program.id }) do %>
	      	<div class="span6 center span-sx black">
				<h2><i class="icon-list red"></i>&nbsp;RICOMINCIA</h2>
	      	</div>  
	      	<% end %>
	    <% end %>
	      
	    <%= link_to ({action: :progresses, :prog_id => @program.id}) do %>
	      <div class="span6 center span-dx" >
		<h2 class="red"><i class="icon-bar-chart black"></i>&nbsp;PROGRESSI</h2>
	      </div>	      
	    </div>
	    <% end %>

	    	
	    <div class="row-fluid menu-el ">
	    	<a href="#">
	      		<div class="span6 center span-odd-sx">
				<h2 class="red"><i class="icon-calendar black"></i>&nbsp;CALENDARIO</h2>
	      		</div>
	  		</a>
	  		<a href="#">	
	      		<div class="span6 center span-odd-dx black"> 
				<h2 class><i class="icon-envelope red"></i>&nbsp;MESSAGGI</h2>
	      		</div>
	  		</a>
	    </div>
	    
	    <div class="row-fluid menu-el">
	    	<a href="#">
	      <div class="span6 center span-sx black">
		<h2><i class="icon-comments red"></i>&nbsp;BACHECA</h2>
	      </div>
	  	</a>
	      <a href="#">
	      <div class="span6 center span-dx">
		<h2 class="red"><i class="icon-group black"></i>&nbsp;AMICI</h2>
	      </div></a>
	    </div>

</div>	    
	    

	<% if @done_program %>
    <%= render 'feedback' %>
    <% end %>
