<div class="well">
	<div class="center">
		<h2><%=@lesson.title%></h2>
		<h3><%=@exercise.name%></h3>
		<div class = "row-fluid">
			<div class="goal span6">
				<iframe width="560" height="349" src="<%= "http://www.youtube.com/embed/"+@exercise.code %>"></iframe>
			</div>
			<div class="goal span6">
				<p>Descrizione: <%=@exercise.description%> </p>
				<p># ripetizioni<%=@association.repetitions%> </p>
			</div>
		</div>
		<%= link_to "next", action: :next, :lesson_id => @lesson.id, :association_id => @association.id%> 
	</div>
</div>