  <p id="<%= @done_program.id %>"></p>
  <div id="feedback-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header" style="background-color: #a73d3b  ">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel" style="color:white">Congratulazioni <%= current_user.username.capitalize %>!</h3>
  </div>
  <div class="modal-body center" style="background-color: #b94a48; color:white; padding-top: 40px">
    <p>Hai completato il programma di allenamento <%= @done_program.title %>!</p>
    <%= form_for :feedback  do |s| %>
    <%= s.text_area :body,  placeholder: "Scrivi qui le motivazioni..", rows: 7 %> <br />
    </div>
  <div class="modal-footer">
    <button class="btn btn-danger btn-large"><i class="icon-ok"></i>&nbsp;&nbsp;Invia</button>
    <button class="btn btn-large" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i>&nbsp;&nbsp;Più tardi</button>
  <% end %>
  </div>
</div>
