
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "jquery-ui" %>
    <%= stylesheet_link_tag "weekcalendar" %>
    <%= stylesheet_link_tag "demo" %>
    <%= stylesheet_link_tag "reset" %>
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "jquery-ui.min" %>
    <%= javascript_include_tag "jquery.weekcalendar" %>
    <% if current_user.role.include? "admin" %>
    <%= javascript_include_tag "demo" %>
    <% else %>
    <%= javascript_include_tag "demoUser" %>
    <% end %>	

<div class="row-fluid">
  <div class="page-title center">
    <h2>
      <i class="icon-calendar"></i>&nbsp;CALENDARIO
  
    <%= link_to '<button class="btn btn-danger" style="padding:10px"><i class="icon-reply"></i>&nbsp;&nbsp;Indietro</button>'.html_safe, controller: :programs, action: :show, :prog_id => @program.id %>  </h2>
  </div>
</div>
  <div class="row-fluid">
    <div id='calendar'></div>
    <div id="event_edit_container">
      <form>
	<input type="hidden" />
	<ul>
	  <li>
	    <span>Data: </span><span class="date_holder"></span> 
	  </li>
	  <li>
	    <label for="start">Inizio: </label><select name="start"><option value="">Seleziona</option></select>
	  </li>
	  <li>
	    <label for="end">Fine: </label><select name="end"><option value="">Seleziona</option></select>
	  </li>
	  <li>
	    <label for="title">Lezione: </label>
	    <select name="title">
	      <% @current_program.lessons.each do |l| %>
	      <option value="<%= l.title %>"><%= l.title %></option>
	      <% end %>
	    </select>
	    <!--<label for="title">Lezione: </label><input type="text" name="title" />-->
	  </li>
	  <li>
	    <label for="body">Descrizione: </label><textarea name="body"></textarea>
	  </li>
	</ul>
      </form>
    </div>
  </div>
  
<p class="prog_id" id="<%= @current_program.id %>"></p>
