

<div class="row center">
  <div class="span3 offset5" style="background-color:#b94a48; border-bottom-right-radius: 50px; border-bottom-left-radius: 50px; border-bottom: #a73d3b solid 15px">
  <br />
  <%= form_for :edited_user,url: { controller: :users, action: :update} do |f| %>
  <%= f.text_field :first_name, :value => current_user.first_name, placeholder: "Nome" %><br /><br />
  <%= f.text_field :second_name, :value => current_user.second_name, placeholder: "Cognome" %><br /><br />
  <%= f.text_field :where, :value => current_user.where, placeholder: "Città" %><br /><br />
  <%= f.password_field :new_password, placeholder: "Nuova Password" %><br /><br />
  <%= f.password_field :new_password_confirm, placeholder: "Conferma Password" %><br /><br />
  <button class="btn btn-danger" id="edit"><b>Save Changes</b></button>
  <% end %>
  </div>
</div>
