<div class="row-fluid">
  <div class="page-title">
    <h2 class="center">
      <i class="icon-group"></i>&nbsp;I miei amici
    </h2>
  </div>
</div>

<div class="row-fluid center">
  <%= form_for :research, :remote => true, url: {controller: :users, action: :search} do |f| %>
  <%= f.text_field :text, placeholder: "Cerca qualcuno", :class => "user-input" %>&nbsp;<button class="btn btn-info"><i class="icon icon-search"></i></button>
  <% end  %>
</div>

<div id="search-result" class="row-fluid">
  <% if @current_user_friends.count == 0 %>

    <div class="alert alert-error center">
      <h2>Al momento non segui nessuno, cerca nuovi amici! </h2>
    </div>
  
  <%else %>
  
    <h2 style="padding-left: 10px"> Chi seguo: </h2>
    <% @current_user_friends.each do |friend|  %>
      <div id=<%= friend.id %> class="friend-box center"> 
        <p>
          <h4><%= gravatar_for( friend,"avatar" ) %><h4>
          <h4>
            <strong>
  	         <%= friend.username.capitalize %>&nbsp;
  	         <% if friend.online %>
  	           <icon class="icon-circle" style="color:#2ecc71"></i>
              <% else %>
  	           <icon class="icon-circle"></i>
  	         <% end %>
            </strong>
          </h4>
        </p>
        <!-- BOTTONI -->  
        <%= link_to action: :visit, :visited_user_id => friend.id do %>
          <button class="btn btn-success" ><i class="icon-eye-open"></i>&nbsp;Visita</button>
        <% end %>
        <%= link_to action: :remove_friend, :removed_friend_id => friend.id, :remote => true do %>
          <button class="btn btn-danger" ><i class="icon-remove"></i>&nbsp;Rimuovi</button>
        <% end %>
        <!-- BOTTONI -->

      </div> <!-- CHIUDE FRIEND-BOX -->
    <% end %> <!-- FINE EACH DO -->
    <div style="clear: both"></div>  
    
  <% end %> <!-- CHIUDE IF -->
</div> <!-- CHIUDE SEARCH-RESULT -->       



