<!--
   carica i css welcome e style

  <% if false %>
  <% provide(:style, %w(welcome style)) %> 
  <% end %>
-->

  <div class="center page-title">
   <h2 class="black"><i class="icon-list"></i>&nbsp;Programmi Allenamento</h2>
  </div>
  
  <% if @programs.count == 0 %>
  <div class="alert alert-error">
    <h2><strong><center>Non c'è alcun allenamento!</center></strong></h2>
  </div>
  
  <% else %>

  <div class="row-fliud"> 
  <div class="span10">  
  <!-- ul nav -->
  <ul class="nav nav-tabs" id="myTab">
     <li class="active"><a data-toggle="tab" href="#Mieitraining"><h4>&nbsp;<i class="icon-folder-open-alt"></i>&nbsp;Miei Training</h4></a></li>
    <li><a data-toggle="tab" href="#Principiante"> <h4>&nbsp;<i class="icon-folder-close-alt"></i>&nbsp;Principiante</h4></a></li>
    <li><a data-toggle="tab" href="#Intermedio"> <h4>&nbsp;<i class="icon-folder-close-alt"></i>&nbsp;Intermedio</h4></a></li>
    <li><a data-toggle="tab" href="#Avanzato"> <h4>&nbsp;<i class="icon-folder-close-alt"></i>&nbsp;Avanzato</h4></a></li>
  </ul>

  <!-- div tab -->
  <div class="tab-content" id="myTabContent">

    <div id="Mieitraining" class="tab-pane fade in active">
      <div class="accordion" id="MieiTraining">

        <% if current_user.statuses.count == 0 %>
        <div class="alert alert-success">
          <h2><strong><center>Scegli un programma e inizia subito l'allenamento!</center></strong></h2>
        </div>
        <% else %>
       <% @programs.each do |p| %>
        <% progress = get_progress_of_program(p.id) %>
        <% if progress > 0 %>
        <div class="accordion-group " >  
          <div class="accordion-heading ">  
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#MieiTraining" href="#<%= p.id %>">  
              <h3>
                <%= p.title %> 
              </h3>      
            </a>  
          </div>  
          <div id="<%= p.id %>" class="accordion-body collapse" >  
            <div class="accordion-inner black  ">  
              <p><%= p.description %></p>
              <p><%=link_to '<button class="btn btn-large btn-info" ><b>Vai al Training Program</b></button>'.html_safe,controller: :programs,action: :show,:prog_id => p.id %>
              </p>
            </div>   
          </div>  
        </div>
        <% end %> <!-- chiudo if progress > 0 -->
        <% end %> <!-- chiudo program.each do -->
        <% end %> <!-- chido if program.empty? -->
      </div>
    </div>


    <div id="Principiante" class="tab-pane fade">
      <div class="accordion" id="Principiante">
        <% @programs.each do |p| %>
        <% progress = get_progress_of_program(p.id) %>
        <% if progress == 0 && p.difficulty.to_s =='Principiante' %>
        <div class="accordion-group" > 
          <div class="accordion-heading">  
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#Principiante" href="#<%= p.id %>">  
              <h3>
               <%= p.title %> 
             </h3>      
           </a>  
         </div>  
         <div id="<%= p.id %>" class="accordion-body collapse" >  
          <div class="accordion-inner black">  
            <p><%= p.description %></p>
            <p><%=link_to '<button class="btn btn-large btn-info"><b>Vai al Training Program</b></button>'.html_safe,controller: :programs,action: :show,:prog_id => p.id %></p>     
          </div>   
        </div>  
      </div>
      <% end %> <!-- chiudo if progress == 0-->
      <% end %> <!-- chiudo program.each-->
    </div>
    </div>

    <div id="Intermedio" class="tab-pane fade">
      <div class="accordion" id="Intermedio">
        <% @programs.each do |p| %>
        <% progress = get_progress_of_program(p.id) %>
        <% if progress == 0 && p.difficulty.to_s =='Intermedio' %>
        <div class="accordion-group" > 
          <div class="accordion-heading">  
            <a class="accordion-toggle"  data-toggle="collapse" data-parent="#Intermedio" href="#<%= p.id %>">  
              <h3>
               <%= p.title %> 
             </h3>      
           </a>  
         </div>  
         <div id="<%= p.id %>" class="accordion-body collapse">  
          <div class="accordion-inner black">  
            <p><%= p.description %></p>
            <p><%=link_to '<button class="btn btn-large btn-info"><b>Vai al Training Program</b></button>'.html_safe,controller: :programs,action: :show,:prog_id => p.id %></p>     
          </div>   
        </div>  
      </div>
      <% end %> <!-- chiudo if progress == 0-->
      <% end %> <!-- chiudo program.each-->
    </div>
    </div>


    <div id="Avanzato" class="tab-pane fade">
      <div class="accordion" id="Avanzato">
        <% @programs.each do |p| %>
        <% progress = get_progress_of_program(p.id) %>
        <% if progress == 0 && p.difficulty.to_s == 'Avanzato' %>
        <div class="accordion-group" > 
          <div class="accordion-heading">  
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#Avanzato" href="#<%= p.id %>">  
              <h3>
               <%= p.title %> 
             </h3>      
           </a>  
         </div>  
         <div id="<%= p.id %>" class="accordion-body collapse" >  
          <div class="accordion-inner black">  
            <p><%= p.description %></p>
            <p><%=link_to '<button class="btn btn-large btn-info"><b>Vai al Training Program</b></button>'.html_safe,controller: :programs,action: :show,:prog_id => p.id %></p>     
          </div>   
        </div>  
      </div>
      <% end %> <!-- chiudo if progress == 0-->
      <% end %> <!-- chiudo program.each-->
    </div>
    </div>
  </div> <!-- chiude div tab -->

  <%end%> <!-- chiudo if program.count == 0-->

</div> <!-- chiude span -->
<div class="span2">
  <div class="row-fluid">

    <div class="center" style="margin-bottom: 20px">
      <div class="h-icon">
        <h2>Bacheca</h2>
        <%= link_to ({ controller: :users, action: :wall}) do %>
        <%= image_tag ("illustrations/book.png"), :class => "home-icon" %>
        </div>
        <% end %>
      </div>
    </div>

  <div class="row-fluid">
    <div class="center" style="margin-bottom: 20px">
    <div class="h-icon">
    <h2>Amici</h2>
    <%= link_to :controller => :users, :action => :friends do %>
    <%= image_tag ("illustrations/colors.png"), :class => "home-icon" %>
    </div>
    <% end %>
    </div>
  </div>

  <div class="row-fluid">
  <div class="center" style="margin-bottom: 20px">
    <div class="h-icon">
    <h2>Messaggi</h2>
    <%= link_to ({ controller: :messages, action: :show}) do %>
    <%= image_tag ("illustrations/mail.png"), :class => "home-icon" %>
    </div>
    <% end %>
    </div>
  </div>
</div> <!-- chiude span2 -->
</div> <!-- chiude row -->

</div>
