<!--
   carica i css welcome e style 
  <% provide(:style, %w(welcome style) %>
-->

<div class="center">
    <h2 class="black"><i class="icon-list"></i>&nbsp;<span style="color: #282828;
text-shadow: 1px 1px 0px #f2f2f2, 1px 2px 0px #b1b1b2;">Programmi Allenamento</span></h2>
</div>
  
  <% if @programs.count == 0 %>
  <div class="alert alert-error">
    <h2><strong><center>Non c'è alcun allenamento!</center></strong></h2>
  </div>
  
  <% else %>
  <h4>&nbsp;<i class="icon-folder-open-alt"></i>&nbsp;Miei Training</h4>
  <div class="accordion" id="MieiTraining">
    <% @programs.each do |p| %>
        <% progress = get_progress_of_program(p.id) %>
        <% if progress > 0 %>
          <div class="accordion-group" style="border-top: 2px solid #ccc;border-bottom: 2px solid #ccc" >  
            <div class="accordion-heading">  
            <a class="accordion-toggle" style="background-color: rgb(228, 218, 218); " data-toggle="collapse" data-parent="#MieiTraining" href="#<%= p.id %>">  
            <h3 style="color: #282828; text-shadow: 1px 1px 0px #f2f2f2, 1px 2px 0px #b1b1b2;">
	           <%= p.title %> 
	           </h3>      
            </a>  
            </div>  
            <div id="<%= p.id %>" class="accordion-body collapse" style="height: 0px; ">  
              <div class="accordion-inner black" style="background-color: #fff">  
                <p><%= p.description %></p>
			           <%=link_to '<button class="btn btn-large btn-success" style="border: 2px #ebebeb solid"><b>Vai al Training Program</b></button>'.html_safe,controller: :programs,action: :show,:prog_id => p.id %>
                </div>   
                </div>  
                </div>
          <% end %> <!-- chiudo if progress > 0-->
  <% end %> <!-- chiudo program.each do-->
</div>

<h4 style="margin-top: 50px">&nbsp;<i class="icon-folder-close-alt"></i>&nbsp;Altri Training</h4>
<div class="accordion" id="AltriTraining">
    <% @programs.each do |p| %>
        <% progress = get_progress_of_program(p.id) %>
        <% if progress == 0 %>
          <div class="accordion-group" style="border-top: 2px solid #ccc;border-bottom: 2px solid #ccc" >  
            <div class="accordion-heading">  
            <a class="accordion-toggle" style="background-color: rgb(228, 218, 218); " data-toggle="collapse" data-parent="#AltriTraining" href="#<%= p.id %>">  
            <h3 style="color: #282828; text-shadow: 1px 1px 0px #f2f2f2, 1px 2px 0px #b1b1b2;">
             <%= p.title %> 
             </h3>      
            </a>  
            </div>  
            <div id="<%= p.id %>" class="accordion-body collapse" style="height: 0px; ">  
              <div class="accordion-inner black" style="background-color: #fff">  
                <p><%= p.description %></p>
                 <%=link_to '<button class="btn btn-large btn-success" style="border: 2px #ebebeb solid"><b>Vai al Training Program</b></button>'.html_safe,controller: :programs,action: :show,:prog_id => p.id %>     
                </div>   
                </div>  
                </div>
          <% end %> <!-- chiudo if progress == 0-->
  <% end %> <!-- chiudo program.each-->
  <%end%> <!-- chiudo if program.count == 0-->
</div>
