<!--<div class="o" style="background-color: #b94a48; border: 2px solid #a73d3b">-->
  <div class="center">
    <h2 class="black">List of all Programs</h2>
  </div>

  <% if @programs.count == 0 %>
  <div class="alert alert-error">
    <h2><strong><center>There isn't any active Program right now</center></strong></h2>
  </div>
  <% else %>
  <div class="accordion" id="accordion2">
    <% @programs.each do |p| %>
      <div class="accordion-group">  
        <div class="accordion-heading">  
          <a class="accordion-toggle" style="background-color: #a73d3b; border: solid 1 px #a73d3b" data-toggle="collapse" data-parent="#accordion2" href="#<%= p.id %>">  
            <h4>
		   			  <% total = 0 %>
		   			  <% p.lessons.each do |lesson| %>
		   			  <% total += lesson.exercises.count %>
		   			  <% end %>
		   			  <% ex_done=0 %>
		  			  <%= p.title %>
		   			  <% current_user.statuses.each do |s| %>
		   			  <% association = Association.find(s.association_id) %>
		   			  <% prog = Program.find(Lesson.find(association.lesson_id).program.id) %>
		   			  <% if prog.id == p.id %>
		   			  <% ex_done +=1 %>
		   			  <% end %>
		   		    <% end %>
		   			  - Progresso : <%= progress = ((ex_done.to_f/total.to_f)*100).to_i %>%
		   		    <div class="progress progress-striped active">
		     		   	<div class="bar" style="width: <%= progress %>%;">
                </div>
		   			  </div>
		 		    </h4>      
          </a>  
        </div>  

          <div id="<%= p.id %>" class="accordion-body collapse" style="height: 0px; ">  
            <div class="accordion-inner white" style="background-color: #b94a48">  
              <p><%= p.description %></p>
            	<% if p.lessons.count == 0 %>
             		<div class="alert alert-error">
              			<h4><strong><center>There isn't any lesson in this training</center></strong></h2>
            		</div>
            	<% else %> 
	           		<h5>Lessons of <%= p.title %> :</h5>
	           		<ul>
	             	<% p.lessons.each do |l| %>
	             	  <li>
	             	   <%=link_to l.title, controller: :lessons, action: :show, :lesson_id => l.id %>
	             	  </li>
               		<% end %>
	           		  </ul>
              		<br />
			<% state = String.new %>
			<% if progress>0 %>
			<%=link_to '<button class="btn btn-success"><b>Resume Training</b></button>'.html_safe,controller: :programs,action: :start,:prog_id => p.id %>
			<% else %>
			<%=link_to '<button class="btn btn-info"><b>Start Training</b></button>'.html_safe,controller: :programs,action: :start,:prog_id => p.id %>
			<% end %>
              		
             		<% end %>    
              	</div>  
                </div>  
                </div>
          <% end %>

  <% end %>
 
</div>
