<div class="well">
  <div class="center">
    <h2>List of all Programs</h2>
  </div>

  <% if @programs.count == 0 %>
    <div class="alert alert-error">
      <h2><strong><center>There isn't any active Program right now</center></strong></h2>
    </div>

  <% else %>

    <ul type="none" class="programs">
      <% @programs.each do |p| %>
      <li>
      <div class="well" style="background-color:white">
	       <div class="title">
	         <h4>
		   <% ex_done=0 %>
		   <%= p.title %>
		   <% current_user.statuses.each do |s| %>
		   <% ex_done +=1 %>
		   <% end %>
		   <%= ex_done %>
		   <div class="progress">
		     <div class="bar bar-danger" style="width: 10%;"></div>
		     <div class="bar bar-warning" style="width: 20%;"></div>
		     <div class="bar bar-success" style="width: 35%;"></div>
		   </div>
		 </h4>
	       </div>
         <div class="body" style="display:none">
	         <p><%= p.description %></p>
            <% if p.lessons.count == 0 %>
             <div class="alert alert-error">
              <h4><strong><center>There isn't any lesson in this training</center></strong></h2>
            </div>
            <% else %> 
	           <h5>Lessons of <%= p.title %> :</h5>
	           <ul>
	             <% p.lessons.each do |l| %>
	             <li>
	             <%=link_to l.title, controller: :lessons, action: :show, :lesson_id => l.id %>
	             </li>
               <% end %>
	           </ul>
              <br />
              <%=link_to '<label class="label label-info">Start Training</label>'.html_safe,controller: :programs,action: :start,:prog_id => p.id %>
             <% end %>
         </div>
      </div>
      </li>
      <% end %>
    </ul>
  <% end %>
  <%= link_to "User List", action: :index %>
</div>
