<h1>Wall di <%= @visited_user.username.capitalize %></h1>
<%= gravatar_for( @visited_user, 80 ) %>
<br />
<% if !Relationship.where( :follower => current_user.id, :followed => @visited_user.id ).first %>
<%= link_to '<button id="follow" class="btn btn-warning"><i class="icon icon-group"></i>&nbsp;&nbsp;Segui</button>'.html_safe, :remote => true, :action => :follow, :followed => @visited_user.id %>
<% end %>
<br />
<br />
<div class="well">
  <ul type="none">
    <% @visited_user_feedbacks.each do |f| %>
    <div class="alert alert-success" id=<%= f.id %>>
      <% if f.program_id %>
      <h4>
	<small>
	  <%= f.user.username.capitalize %> a proposito di <%= Program.find(f.program_id).title %>
	  commentato con rating al programma :
	</small>
	<%= f.rating %>
      </h4>
      <% end %>
      <%= f.body %><br />
      <h4>
	<small>
	  Posted on : <%= f.created_at.to_s[0..9] %> at : <%= f.created_at.to_s[11..15] %>&nbsp;&nbsp;
	</small>
      </h4>
    </div>
    <% end %>
  </ul>
</div>
