<div class="row-fluid">


<div class="page-title">
    <h2 class="center">
        <i class="icon-list"></i>&nbsp;Bacheca di <%= @visited_user.username.capitalize %>&nbsp;
	<% if @visited_user.online %>
	<icon class="icon-circle" style="color:#2ecc71"></i>
        <% else %>
	<icon class="icon-circle"></i>
	<% end %>
    </h2>
  </div>

<div class="row-fluid center ">
  <%= gravatar_for( @visited_user, "avatar") %><br />
  <% if @visited_user.first_name %>
  <h4><strong>
      ( <%= @visited_user.first_name.capitalize %> 
      <% if @visited_user.second_name %>
      <%= @visited_user.second_name %>
      <% end %> )
  </strong></h4>
  <% end %>
</div>

<% if !Relationship.where( :follower => current_user.id, :followed => @visited_user.id ).first %>
<div class="center">
<%= link_to '<button id="follow" class="btn btn-large btn-primary"><i class="icon icon-group"></i>&nbsp;&nbsp;Segui</button>'.html_safe, :remote => true, :action => :follow, :followed => @visited_user.id %>
</div>
<% end %>

<div class="row-fluid">
  
    <% @visited_user_feedbacks.each do |f| %>
    

    <div class="well row-visited" id=<%= f.id %> >
      
      <% if f.program_id %>
       <h4>
       <%= image_tag ("illustrations/share.png"), :class => "wall-image" %>
	     <small>
	     <%= f.user.username.capitalize %> a proposito di <%= Program.find(f.program_id).title %>
	     commentato con rating al programma :
	     </small>
	     <%= f.rating %>
      </h2>
    <% end %>
      <h4>
      <%= image_tag ("illustrations/share.png"), :class => "wall-image" %>
      &nbsp;
      <i class="icon-quote-left"></i>&nbsp;
      <%= f.body %>
      &nbsp;<i class="icon-quote-right"></i>
      </h4>
      <!-- Commets start -->
      <p class="comments" style="cursor:pointer">Commenti (<%= f.comments.count %>)&nbsp;&nbsp;<i class="icon-arrow-down"></i></p>
      <div class="comments-list" style="display:none">
	<% f.comments.order("created_at").each do |c| %>
	<div class="alert alert-info" id="comment-<%= c.id %>">
	  <%= User.find(c.commenter).username.capitalize %> : <%= c.body %>
	  <% if c.commenter == current_user.id %>
	  <%= link_to '<i class="icon-remove" style="color:red"></i>'.html_safe, :controller => :comments, :action => :destroy, :comment_id => c.id, :remote => true %>
	  <% end %>
	</div>
	<% end %>
	<%= form_for :comment, :url => {:controller => :comments, :action => :create, :feedback_id => f.id}, :remote => true do |f| %>
	<%= f.hidden_field :commenter, :value => current_user.id %>
	<%= f.text_area :body, :placeholder => "commenta ..", :rows => 1 %>
	<button class="btn btn-info btn-default" type="submit">Ok</button>
	<% end %>
      </div>
      <!-- Comments end -->
      <h4>
	<small>
	  Postato il <%= f.created_at.to_s[8..9] + "-" + f.created_at.to_s[5..6] + "-" + f.created_at.to_s[0..3] %> alle <%= f.created_at.to_s[11..15] %>
	</small>
      </h4>
    </div>
    <% end %>


</div>
</div> <!-- span9 -->
 
</div>
