<div class="row-fluid">

<div class="page-title">
    <h2 class="center">
        <i class="icon-list"></i>&nbsp;Bacheca di <%= @visited_user.username.capitalize %>&nbsp;
	<% if @visited_user.online %>
	<icon class="icon-circle" style="color:#2ecc71"></i>
        <% else %>
	<icon class="icon-circle"></i>
	<% end %>
    </h2>
  </div>


<div class="row-fluid center ">
  <%= gravatar_for( @visited_user, "avatar") %><br />

  <% if @visited_user.first_name %>
  <h4><strong>
      ( <%= @visited_user.first_name.capitalize %> 
      <% if @visited_user.second_name %>
      <%= @visited_user.second_name %>
      <% end %> )
  </strong></h4>
  <% end %>
</div>

<% if !Relationship.where( :follower => current_user.id, :followed => @visited_user.id ).first %>
<div class="center">
<%= link_to '<button id="follow" class="btn btn-large btn-primary"><i class="icon icon-group"></i>&nbsp;&nbsp;Segui</button>'.html_safe, :remote => true, :action => :follow, :followed => @visited_user.id %>
</div>
<% end %>

<div class="row-fluid">
    
    <% @visited_user_feedbacks.each do |f| %>
    <div class="row-fluid message-row" id="<%= f.id %>">
            <div class="message-cont">      
      <h3>
          <small style="float: right">
          Scritto il <%= f.created_at.to_s[8..9] + "-" + f.created_at.to_s[5..6] + "-" + f.created_at.to_s[0..3] %> alle <%= f.created_at.to_s[11..15] %>
          </small>
          <%= image_tag ("illustrations/share.png"), :class => "wall-image" %>
          &nbsp;&nbsp;
          <% if f.program_id %>
          <span style="color: #7F8C8D"><%= f.user.username.capitalize %> a proposito di <strong style="color: #2980B9"><%= Program.find(f.program_id).title %></strong>
          ha commentato con rating</span> 
          <% f.rating.times { %><i class="icon-star" style="color: #F1C40F"></i><% } %><% (5-f.rating).times { %><i class="icon-star-empty" style="color: #F1C40F"></i><% } %><br />  
          <% end %>
          <i class="icon-quote-left"></i>&nbsp;
          <%= f.body %>
          &nbsp;<i class="icon-quote-right"></i>
      </h3>
      <!-- Commets start -->
      <p class="comments" style="cursor:pointer">Commenti (<%= f.comments.count %>)&nbsp;&nbsp;<i class="icon-arrow-down"></i></p>
      <div class="comments-list" style="display:none">
	<% f.comments.order("created_at").each do |c| %>
	<div class="alert alert-info" id="comment-<%= c.id %>">
	  <%= User.find(c.commenter).username.capitalize %> : <%= c.body %>
	  <% if c.commenter == current_user.id %>
	  <%= link_to '<i class="icon-remove" style="color: #C0392B"></i>'.html_safe, :controller => :comments, :action => :destroy, :comment_id => c.id, :remote => true %>
	  <% end %>
	</div>
	<% end %>
	<%= form_for :comment, :url => {:controller => :comments, :action => :create, :feedback_id => f.id}, :remote => true do |f| %>
	<%= f.hidden_field :commenter, :value => current_user.id %>
	<%= f.text_area :body, :placeholder => "Commenta", :rows => 1 %>
	<button class="btn btn-info btn-default" type="submit">Ok</button>
	<% end %>
      </div>
      <!-- Comments end -->
      </div>
    </div>
    <% end %>


</div>
</div> <!-- span9 -->

