<div id="login-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header" style="background-color: #a73d3b  ">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel" style="color:white">Entra!</h3>
  </div>
  <div class="modal-body center" style="background-color: #b94a48; color:white; padding-top: 40px">
    <% if !flash[:error].nil? %>
    <div class="alert alert-error center" style="width:90%">
      <h4><strong>Username o password non validi</srong></h4>
    </div>
    <% end %>
    <%= form_for :session, url: {controller: :sessions, action: :create}  do |s| %>
    <%= s.text_field :username,  placeholder: "Nome Utente"%><br />
    <%= s.password_field :password,  placeholder: "Password" %><br />
    <div style="width: 100px; margin: 0 auto">
    <label class="checkbox" style="float:right"><%= s.check_box :remember_me%>
    Ricordami</label></div>
    </div>
  <div class="modal-footer">
    <button class="btn btn-danger btn-large"><i class="icon-signin"></i>&nbsp;&nbsp;Login</button>
    <button class="btn btn-large" data-dismiss="modal" aria-hidden="true"><i class="icon-reply"></i>&nbsp;&nbsp;Indietro</button>
  <% end %>
  </div>
</div>


<div id="signup-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header" style="background-color: #a73d3b  ">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel" style="color:white">Registrati!</h3>
  </div>
  <div class="modal-body center" style="background-color: #b94a48; color:white; padding-top: 40px">
  <%= form_for :new_user, :remote => true, url: { controller: :users, action: :create } do |u| %>
  <%= u.text_field :username,  placeholder: "Nome Utente" %><br />
  <%= u.text_field :email,  placeholder: "Email" %><br />
  <%= u.password_field :password,  placeholder: "Password" %><br />
  <%= u.password_field :password_confirmation ,  placeholder: "Conferma Password"%>
  </div>
  <div class="modal-footer">
    <button id="register" type="submit" class="btn btn-danger btn-large"><i class="icon-plus"></i>&nbsp;&nbsp;Registrati</button>
    <button class="btn btn-large" data-dismiss="modal" aria-hidden="true"><i class="icon-reply"></i>&nbsp;&nbsp;Indietro</button>
  <% end %>
  </div>
</div>
