<div id="login-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header" style="background-color: #a73d3b  ">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel" style="color:white">Entra!</h3>
  </div>
  <div class="modal-body center" style="background-color: #b94a48; color:white; padding-top: 40px">
    <%= form_for :session, url: {controller: :sessions, action: :create}  do |s| %>
    <%= s.text_field :username,  placeholder: "Nome Utente"%> <br />
    <%= s.password_field :password,  placeholder: "Password" %><br />
    <%= s.check_box :remember_me%>
    Ricordami
    </div>
  <div class="modal-footer">
    <%= s.submit "Login", :class => "btn btn-danger btn-large"%>
    <button class="btn btn-large" data-dismiss="modal" aria-hidden="true">Indietro</button>
  <% end %>
  </div>
</div>


<div id="signin-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header" style="background-color: #a73d3b  ">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel" style="color:white">Registrati!</h3>
  </div>
  <div class="modal-body center" style="background-color: #b94a48; color:white; padding-top: 40px">
  <%= form_for :new_user, url: { controller: :users, action: :create } do |u| %>
  <%= u.text_field :username,  placeholder: "Nome Utente" %><br />
  <%= u.text_field :email,  placeholder: "Email" %><br />
  <%= u.password_field :password,  placeholder: "Password" %><br />
  <%= u.password_field :password_confirmation ,  placeholder: "Conferma Password"%>
  </div>
  <div class="modal-footer">
    <%= u.submit "Registrati", :class => "btn btn-danger btn-large" %>
    <button class="btn btn-large" data-dismiss="modal" aria-hidden="true">Indietro</button>
  <% end %>
  </div>
</div>
