<div class="row-fluid">
	<div class="page-title">
  	<h1 class="center">
  	  <i class="icon-group"></i>&nbsp;DEA DORMI TEAM
  	</h1>  
  	<div class="center"><%= link_to '<button class="btn btn-large btn-primary"><i class="icon-reply"></i>&nbsp;&nbsp;Indietro</button>'.html_safe, controller: :welcome, action: :index%>
	</div>
	</div>

</div>

<div class="row-fluid" style="background-color: #dedede" >
	<div class="span6">
		<div class="span3">	
			<%= image_tag ("illustrations/compass.png"), :class => "who-photo" %>
		</div>
		<div class="span9">
			<p class="who-name">Bergamo Federico</p>
		</div>
	</div>
	<div class="span6">
		<div class="span3">	
			<%= image_tag ("illustrations/colors.png"), :class => "who-photo" %>
		</div>
		<div class="span9">
			<p class="who-name">Bevilacqua Alessandro</p>
		</div>
	</div>
</div>
<div class="row-fluid" >
	<div class="span6">
		<div class="span3">	
			<%= image_tag ("illustrations/mail.png"), :class => "who-photo" %>
		</div>
		<div class="span9">
			<p class="who-name">Chenet Mattia</p>
		</div>
	</div>
	<div class="span6">
		<div class="span3">	
			<%= image_tag ("illustrations/bag.png"), :class => "who-photo" %>
		</div>
		<div class="span9">
			<p class="who-name">Martintoni Davide</p>
		</div>
	</div>
</div>
<div class="row-fluid" style="background-color: #dedede">
	<div class="span6">
		<div class="span3">	
			<%= image_tag ("illustrations/share.png"), :class => "who-photo" %>
		</div>
		<div class="span9">
			<p class="who-name">Miraka Armir</p>
		</div>
	</div>
	<div class="span6">
		<div class="span3">	
			<%= image_tag ("illustrations/time.png"), :class => "who-photo" %>
		</div>
		<div class="span9">
			<p class="who-name">Passerini Luca</p>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
		<div class="span3">	
			<%= image_tag ("illustrations/retina.png"), :class => "who-photo" %>
		</div>
		<div class="span9">
			<p class="who-name">Pellegrini Alex</p>
		</div>
	</div>
	<div class="span6">
		<div class="span3">	
			<%= image_tag ("illustrations/map.png"), :class => "who-photo" %>
		</div>
		<div class="span9">
			<p class="who-name">Serra Francesco</p>
		</div>
	</div>
</div>
