<div class="well">
  <div class="center">
    <h1><%=@lesson.title%></h1>
  </div>
  <% @lesson.exercises.each do |e| %>
  <div class="well">
    <div class="title">
      <h5><%= e.name %></h5>
    </div>
    <div class="body" style="display:none">
      <p><%= e.description %></p>
      <p><%= e.difficulty %></p>
      <p><%= e.video_url %></p>
      <p><%= @lesson.associations.find_by_exercise_id(e.id).repetitions %></p>
      <%=link_to '<label class="label label-info">Remove</label>'.html_safe, controller: :exercises, action: :remove_ex_from_lesson, :lesson_id => @lesson.id, :exercise_id => e.id %>
    </div>
  </div>
  <% end %><br />
  <button href="#myModal" class="btn btn-primary btn-default" data-toggle="modal"></i class="icon-plus icon-white"></i>Add Exercise</button>
</div>


<%= render "modal" %>
