  <div class="page-title">
    <h2 class="center">
        <i class="icon-list"></i>&nbsp;<%=@lesson.title%>
    </h2>
  </div>
  <% if @lesson.exercises.count == 0 %> 
  <div class="alert alert-error">
    <h2><strong><div class="center">Non c'è nessun esercizio per questa lezione!</div></strong></h2>
  </div>
  <% else %>
  <ul class="nav nav-tabs" id="myTab">
    <% @lesson.exercises.each do |e| %>    
      <li><a href="#<%=e.id%>" data-toggle="tab"><%=e.name%></a></li>
    <%end%>
  </ul>
  <div class="tab-content">
    <% @lesson.exercises.each do |e| %>
      <div class="tab-pane" id="<%=e.id%>">
        <% if @status.detect {|s| s.association_id == @lesson.associations.find_by_exercise_id(e.id).id}  %>
          <h2 style="color:black">Fatto</h2>
        <%end%>
        <iframe width="100%" height="100%" src="<%= "http://www.youtube.com/embed/"+e.code %>"></iframe>
        <%= e.description %>
        <%= link_to '<button class="btn btn-large btn-danger" style="margin: 30px; margin-bottom: 30px; border: 2px #ebebeb solid"><i class="icon-reply"></i>&nbsp;&nbsp;Fatto!</button>'.html_safe, controller: :lessons, action: :set_exercise_done, :association_id => @lesson.associations.find_by_exercise_id(e.id).id, :remote => true %>
        <%= link_to '<button class="btn btn-large btn-danger" style="margin: 30px; margin-bottom: 30px; border: 2px #ebebeb solid"><i class="icon-reply"></i>&nbsp;&nbsp;Indietro</button>'.html_safe, controller: :programs, action: :show, prog_id: @lesson.program.id %>
      </div>
    <% end %>
  </div>

  <% end %>