  <div class="page-title">
    <h2 class="center">
        <i class="icon-list"></i>&nbsp;<%=@lesson.title%>
    </h2>
  </div>
  
  <% if @lesson.exercises.count == 0 %> 
  <div class="alert alert-error">
    <h2><strong><div class="center">Non c'è nessun esercizio per questa lezione!</div></strong></h2>
  </div>
	
  <% else %>

   <div class="accordion" id="accordion2">
      <% @lesson.exercises.each do |e| %>  
            <div class="accordion-group"  >  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%= e.id %>">  
                 <h3>
                  <%if @status.detect {|s| s.association_id == @lesson.associations.find_by_exercise_id(e.id).id}%>
                    <strong><i class="icon-ok-sign"></i></strong>
                  <% else %>
                    <strong><i class="icon-circle"></i></strong>
                  <%end%>
                  <%= e.name %> 
                </h3>
                </a>  
              </div>  
              <div id="<%= e.id %>" class="accordion-body collapse">  
                <div class="accordion-inner accordion-content center" >  
                  <p style="text-align:left"><%= e.description %></p>
                  <p>
                    <strong><i class="icon-signal"></i></strong>&nbsp;Difficoltà: <strong><%= e.difficulty %></strong><br />
                    <strong><i class="icon-random"></i></strong>&nbsp;Ripetizioni: <strong><%= @lesson.associations.find_by_exercise_id(e.id).repetitions %></strong>
                </p>
                  <%=link_to '<button class="btn btn-large btn-info"><i class="icon-play"></i>&nbsp;&nbsp;Inizia Esercizio!</button>'.html_safe,controller: :exercises,action: :show,:association_id => @lesson.associations.find_by_exercise_id(e.id).id %>  
                </div>  
              </div>  
            </div>

  <% end %><br />
  </div> 
  </div>
  <% end %>
  <div class="center"><%= link_to '<button class="btn btn-large btn-danger"><i class="icon-reply"></i>&nbsp;&nbsp;Indietro</button>'.html_safe, controller: :programs, action: :show, :prog_id => @program.id %></div>