<div class="well">
	<div class="center">
		<h2><%=@lesson.title%></h2>
		<div class = "row-fluid">
			<div class="goal span6">
				<iframe id="iframe" width="100%" height="100%" src="<%= "http://www.youtube.com/embed/"+@exercise.code %>"></iframe>
			</div>
			<div class="goal span6">
				<h3><%=@exercise.name%></h3>
				<p>Descrizione: <%=@exercise.description%> </p>
				<p>Num. ripetizioni<%=@association.repetitions%></p>
			</div>
		</div>
		<%= link_to '<button class="btn btn-default">Done</button>'.html_safe,controller: :lessons, action: :show, :lesson_id => @lesson.id %>
	</div>
</div>