<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title><%= content_for?(:title) ? yield(:title) : "Kokkonut" %></title>
    <%= csrf_meta_tags %>

    
    <%= stylesheet_link_tag "application" %>

    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Sintony" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="font-awesome.min.css">
  </head>

  <body>
    <% if current_user %>
    
      <div class="row-fluid" id="profile-row-line-top">
        <div class="span12" id="light-menu">
          <ul type="none">
            <li><%= link_to '<i class="icon-user"></i>&nbsp;'.html_safe+current_user.username.capitalize, :controller => :users, :action => :show %></li>
            <li><%= link_to '<i class="icon-cogs"></i>&nbsp;Impostazioni</li>'.html_safe, controller: :users, action: :edit %>
            <li><%= link_to '<i class="icon-off"></i>&nbsp;Logout'.html_safe, controller: :sessions, action: :destroy %></li>
          </ul> 
        </div>
      </div>
    <% else %>
    <div class="row-fluid" id="row-line-top">
      <div class="span12" id="light-menu">
        <ul type="none">
          <li><a href="#"><i class="icon-group"></i>&nbsp;chi siamo</a></li> 
          <li><a href="#"><i class="icon-envelope"></i>&nbsp;contatti</a></li>
        </ul> 
      </div>
    </div>
    <% end %>
    <%= bootstrap_flash %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  
  </body>
</html>
