<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Kokkonut" %></title>
    <%= csrf_meta_tags %>

    
    <%= stylesheet_link_tag "application" %>

    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Sintony" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="font-awesome.min.css">
  </head>

  <body>

         <%= bootstrap_flash %>
         <%= yield %>
      
    <%= javascript_include_tag "application" %>
    
  </body>
</html>
