<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title><%= content_for?(:title) ? yield(:title) : "Kokkonut" %></title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag "application" %>
    
 
    <!--Start stylesheet tags
    <% if false %>

    <%= stylesheet_link_tag "bootstrap_and_overrides" %>
    <%= stylesheet_link_tag "font-awesome" %>
    <% yield(:style).each do |css| %>
    <%= stylesheet_link_tag css %>
    <% end %>
     
    <% end %>    
    
    -->

    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Sintony" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="font-awesome.min.css">
  </head>

  <body>
    <% if current_user %>
    
      <div class="row-fluid" id="profile-row-line-top">
        <div class="span12" id="light-menu">
          <ul type="none">
            <li><%= link_to '<i class="icon-user"></i>&nbsp;'.html_safe+current_user.username.capitalize, :controller => :users, :action => :home_utente %></li>
	    <li><a href="#settings-modal" data-toggle="modal"><i class="icon-cogs"></i>&nbsp;Impostazioni</li></a></li>
            <li><%= link_to '<i class="icon-off"></i>&nbsp;Logout'.html_safe, controller: :sessions, action: :destroy %></li>
          </ul> 
        </div>
      </div>
    <% else %>
    <div class="row-fluid" id="row-line-top">
      <div class="span12" id="light-menu">
        <ul type="none">
          <li><a href="#"><i class="icon-group"></i>&nbsp;chi siamo</a></li> 
          <li><a href="mailto:dea.dormi@gmail.com"><i class="icon-envelope"></i>&nbsp;contatti</a></li>
        </ul> 
      </div>
    </div>
    <% end %>
    <!--<%= bootstrap_flash %>-->
    <%= yield %>
    <%= javascript_include_tag "application" %>
  
  </body>
</html>

<% if current_user %>
<!--Settings modal-->
<div id="settings-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header" style="background-color: #a73d3b  ">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel" style="color:white">Impostazioni <%= current_user.username.capitalize %></h3>
  </div>
  <div class="modal-body center" style="background-color: #b94a48; color:white; padding-top: 40px">
    <%= form_for :edited_user,url: { controller: :users, action: :update} do |f| %>
    <%= f.text_field :first_name, :value => current_user.first_name, placeholder: "Nome" %><br /><br />
    <%= f.text_field :second_name, :value => current_user.second_name, placeholder: "Cognome" %><br /><br />
    <%= f.text_field :where, :value => current_user.where, placeholder: "Città" %><br /><br />
    <%= f.password_field :new_password, placeholder: "Nuova Password", :value => "password" %><br /><br />
    <%= f.password_field :new_password_confirm, placeholder: "Conferma Password", :value => "passward" %><br /><br />
    </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-danger btn-large" id="edit"%><i class="icon-check"></i>&nbsp;&nbsp;Salva Cambiamenti</button>
    <button class="btn btn-large" data-dismiss="modal" aria-hidden="true"><i class="icon-reply"></i>&nbsp;&nbsp;Indietro</button>
    <% end %>
  </div>
</div>
<!--Settings modal-->
<% end %>
